<div class="d-flex flex-column justify-content-center align-items-center">
    <h1> Welcome to Scheduled tweets app </h1>
    <p>
        This is a simple app that allows you to schedule tweets to be posted at a later time.
    </p>
    <% if @user %>
        Logged in as <%= @user.email %>
    <% end %>
    <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-primary" %>
</div>  

